    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>2919 Executive Pkwy #220, Lehi, UT 84043
                            <br>Lehi, UT 84043</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Share the Beard</h3>

                        <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>

                        <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>

                        <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>

                        <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>

                        <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
                        
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Beard Wars</h3>
                        <p>An app that brings great beards together, letting you pick and judge the finest creations of beard kind. <br><a href="http://startbootstrap.com">Beard Away</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; BeardWars.awesome 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>