    <!-- Navigation -->
    <nav id="mainNav" class="nav navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#page-top">ONLY THE BEST BEARDS ALLOWED</a>
            <div class="my-nav">
                    <a class="navbar" href="#page-top"></a>

                    <a href="#portfolio">Profile</a>

                    <a href="#about">Beards</a>

                    <a href="#contact">Login</a>
                    <a href="#contact">Register</a>
                </div>      
            </div>
        </div>
    </nav>